{
  "app/**/*.{js,jsx,css,scss,json,graphql,gql}": [
    "prettier --write",
  ],
  "api/**/*.{js,jsx,css,scss,json,graphql,gql}": [
    "prettier --write",
  ],
  "app/styles/**/!*.{css,scss}": [
    "prettier --write",
  ]
}
