{
  "presets": ["next/babel"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "module-resolver",
      {
        "alias": {
          "Layouts": "./app/layouts",
          "Components": "./app/components",
          "Config": "./app/config",
          "Pages": "./app/pages",
          "Services": "./app/services",
          "Store": "./app/store",
          "Styles": "./app/styles",
          "Utils": "./app/utils"
        }
      }
    ]
  ]
}
