{
  "presets": ["next/babel"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "module-resolver",
      {
        "alias": {
          "~": "./app",
          "Api": "./api",
          "Apollo": "./app/apollo",
          "Components": "./app/components",
          "Config": "./app/config",
          "Containers": "./app/containers",
          "Decorators": "./app/decorators",
          "Fragments": "./app/fragments",
          "Hooks": "./app/hooks",
          "Layouts": "./app/layouts",
          "Modals": "./app/modals",
          "Pages": "./app/pages",
          "Services": "./app/services",
          "Store": "./app/store",
          "Styles": "./app/styles",
          "Utils": "./app/utils"
        }
      }
    ],
    ["import-graphql", { "runtime": true }]
  ]
}
