.dashboard-layout {
  main {
    margin: 125px 60px 0 180px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: calc(100vh - 125px);
    &.embed {
      margin: 0;
      padding: 20px !important;
    }
  }

  .sidebar {
    .sub-menu {
      transform: translateX(-230px);
    }
  }

  &.public {
    main {
      margin: 0;
      padding: 20px !important;

      .rbc-calendar {
        height: calc(100vh - 170px) !important;
      }
    }
  }
}
